<a href="https://colab.research.google.com/github/GousemujeebShaik/Decodr_ClassAssignements/blob/main/Copy_of_list_DType_13Jun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[Slide No.- 35]**

1. Create a empty list and check its Data type

In [ ]:
list1=[]
print("data type of list1:",type(list1))

data type of list1: <class 'list'>

data type of a:  <class 'list'>

**[Slide No.- 35]**

2. Create a list in which at even places string are present and at odd places integervalue is present and the length of the string is 6.

In [ ]:

list1 = ['Hellos',1,'Hellos',2,'Hellos',3]
len(list1)

6

**[Slide No. - 36]**

3. Create a lsit which has 6 elements and print last three elements from the list

In [ ]:
list1=[1,2,3,4,5,6]
list1[-3:]

[4, 5, 6]

**[Slide No. - 36 ]**

4. What is the output :
 list = [1,2,3,4,5,6,7] 
 
 list[:]=?

In [ ]:
list1=[1,2,3,4,5,6,7]
list1[:]

[1, 2, 3, 4, 5, 6, 7]

**[Slide No. - 36]**

5. What is the output : list = [1,2,3,4,5,6,7]

Print the even places items from the list.

In [ ]:
list1[::2]

[1, 3, 5, 7]

**[Slide No. - 36]**

6. What is the output : list = [1,2,3,4,10,11,7]

print 10 and 11 item from the list .

In [ ]:
list1=[1,2,3,4,10,11,7]
list1[4:6]

[10, 11]

**[Slide No. -38]**

7.  Delete the 3 index value from the list and the print the list.

list = [1, 2, 3, 4, 5, 6]    

print(list)

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]    
list1.pop(3)
list1

[1, 2, 3, 5, 6]

[Slide No. - 37]
8. list = [1, "a", 3, 4, 5, 6] 

replace "a" by 2 in the list

What is the new list?

In [ ]:
list1 = [1, "a", 3, 4, 5, 6]
list1[1]=2
list1

[1, 2, 3, 4, 5, 6]

**[Slide No - 37]**

9. list = [1, 2, 3, 4, 5, 6] 

by using neagtive indexing replace 5 by 'e' in the list 

print(list)

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list1[-2]='e'
list1

[1, 2, 3, 4, 'e', 6]

**[Slide No. - 37]**

10. list = [1, 2, 3, 4, 5, 6] 

replace 1st and 2nd index value by (89,78)

print(list)

In [ ]:
list1 =[1,2,3,4,5,6]
list1[1:3]=[89,78]
list1

[1, 89, 78, 4, 5, 6]

**[Slide No. -38]**

11. Create a list and delete 2 to 4 index value  from list ?

In [ ]:
list1=[1,2,3,4,5,6,7,8]
list1 = list1[:2]+list1[5:]
list1

[1, 2, 6, 7, 8]

**[Slide No.- 39]**

12. Rermove Science  item from the list.

Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

In [ ]:


Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']
Subject.remove('science')
Subject

['math', 'hindi', 'SST', 'Sanskrit']