<a href="https://colab.research.google.com/github/GousemujeebShaik/Decodr_ClassAssignements/blob/main/Variable_and_operator_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable and Operator

**[Slide No.- 19]**

1. Which one of the following is correct way of declaring and initialising a variable, x with value 5?

A. int x
  
    x=5

B. int x=5

C. x=5

D. declare x=5

In [4]:
# Check your Answer
x = 5
x # Correct anser is option C

5

**[Slide No.-19]**

2. Which of the following is not valid variable name in Python?

A. _var = 6

B. var_name = 6

C. var11 = 6

D. 11var = 6

In [5]:
#Check your Answer
#11var=6 
#correct answer is Opt D, as the variable names cannot start with the numbers

**[Slide No.- 19]**


3. Which of the following will give error?

A. a=b=c=1

B. a,b,c=1

C. a b c=1, 4, 1.5

D. None of the above

In [7]:
#Check your Answer
#a, b,c=1
# answer is option B, as the same value cannot be allocated like this to multiple variables

**[Slide No.- 21]**

4. What is the output of the following code

x = 6

y = 2

a=print(x ** y)

b= print(x // y)

In [8]:
#Check your Answer

x=6
y=2
a=print(x ** y)
b= print(x//y)

36
3

**[Slide No.-21]**

# find the value of this expression (v+w) * x/ y
v = 4

w = 5

x = 8


y = 2

z = 0

In [9]:
v = 4
w = 5
x = 8
y = 2
z = 0
(v+w)*x/y

36.0

**[Slide No.- 21]**

6. What is the output of print(10 - 4 * 2)

In [10]:
#Check your Answer
print(10-4*2)

2

**[Slide No.-21]**

7. What is the output of print(2 * 3 ** 3 * 4)

In [11]:
#Check your Answer
print(2 * 3 ** 3 * 4)

216

8. What is the output of the expression  print(-18 // 4)

In [12]:
print(-18 // 4)      #Floor division    -4.5  =-5

-5

In [13]:
x=8
x -=8+x    # X+8+8       x += 8       # x-(8+x)=x-8-x
print(x)

-8

**[Slide No.- 21]**

9. Write a program to check 5 is less then 10 or greater then 3.

In [15]:
a,b,c=5,10,3
if c<a:
  print('5 is  greater than 3')
elif a < b:
  print('5 is less than 10')
else:
  print("wrong output")

5 is  greater than 3

In [16]:
a=int(input('enter number'))    # usaed to take the input from the user
b=int(input('enter number'))
c=int(input('enter number'))
if a<b and a>c:
  print('true')
else:
  print('false')

enter number5
enter number6
enter number4
true

10 . Write a program  by using 'and' ,'or' And 'not' operator ?

In [18]:
a=3
b=7
print(a==3 and b==8)
print(a==3 or b==8)
print(a!=3)

False
True
False

In [19]:
print (((10 > 2) or (2 < 5)) and (7 != 9))

True

**[Slide No.- 27]**

11. What is the output of the following assignment operator

y = 10

y += 2

print(y)

In [20]:
y=10
y+=2
print(y)

12

**[Slide No.-27]**

12. What is the output of the code .

x=5

x +=x+4

print(x)

In [21]:
x=5
x +=x+4
print(x)

14

**[Slide No.-27]**

13.  what is the output :

y=7

x  +=y+4

print(x)

In [23]:
#x=x+y+4
y=7
x +=y+4

print(x )

25

In [24]:
x=6                #110
x=x|3              #011   
print(x)           #  010

7

In [25]:
x=6
x=x>>2                 # 6 = 110 --> 011 --> 001 = 1 

print(x)

1